.project_container {
  position: relative;
  width: 100%;
}

.images_container {
  position: relative;
  width: 100%;
}

.image_work {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_work {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #FFFFFF;
}

.project_container:hover .overlay_work {
  opacity: 1;
}

.images_container:hover .overlay_work {
  opacity: .5;
}

.images_container_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
}

.project_container_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
}
